@model IdaSortingOffice.Models.LoginViewModel

@{
    ViewBag.Title = "title";
}

@if (ViewBag.Error != null)
{
    <p class="error">@Html.Raw(ViewBag.Error)</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin:30px 0 30px 0">
        <legend>Login</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p style="margin-top:30px">
            <input type="submit" value="Login" class="btn btn-primary" />
        </p>
    </fieldset>
}
